<!-- Optional nav for demonstration -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
      <a class="navbar-brand" href="#">Brand</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        
      </ul>
    </div>
  </div>
</nav>


<!-- You need router-outlet here -->
<div class="main">
  <h2>This section loads Builder pages unless page not found, in which case it loads the PageNotFoundComponent from the  Angular app.</h2>
  <router-outlet></router-outlet>
</div>
